/* REDUX VARIABLES */
html:not([dark]) {
    --redux-spec-text-primary: #fff;
    --redux-spec-text-primary-inverse: #fff;
    --redux-double-inverse: #030303;
    --redux-spec-text-secondary: #606060;
    --redux-spec-text-secondary-buttons: #606060;
    --redux-spec-call-to-action: #065fd4;
    --redux-spec-general-background-a: #f9f9f9;
    --redux-spec-icon-disabled: #909090;
    --redux-spec-icon-inactive: #030303;
    --redux-spec-base-background: #fff;
    --redux-spec-brand-background-solid: #fff;
    --redux-box-shadow: var(--redux-spec-10-percent-layer-inverted);
    --redux-scrollbar-default: #aaa;
    --redux-scrollbar-hover: #909090;
    --redux-spec-badge-chip-background: rgba(0, 0, 0, 0.05);
    --redux-spec-badge-chip-background-hover: rgba(0, 0, 0, 0.1);
}
html[dark] {
    --redux-spec-general-background-a: #181818;
    --redux-spec-text-primary-inverse: #030303;
    --redux-double-inverse: #fff;
    --redux-spec-text-secondary: #aaa;
    --redux-spec-text-secondary-buttons: "#fff";
    --redux-spec-call-to-action: #3ea6ff;
    --redux-spec-icon-disabled: #717171;
    --redux-spec-icon-inactive: #fff;
    --redux-spec-base-background: #0f0f0f;
    --redux-spec-brand-background-solid: #212121;
    --redux-box-shadow: var(--redux-spec-10-percent-layer);
    --redux-scrollbar-default: #aaa;
    --redux-scrollbar-hover: #717171;
    --redux-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
    --redux-spec-badge-chip-background-hover: rgba(255, 255, 255, 0.2);
}
html {
    --redux-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
    --redux-spec-10-percent-layer-inverted: rgba(0, 0, 0, 0.1);
    --redux-paper-dialog-background-color: var(--redux-spec-brand-background-solid);
    --ytd-toolbar-height: 50px !important;
    --ytd-masthead-height: 50px !important;
    --overridden-masthead-height: var(--ytd-masthead-height);
    --redux-dimmed-white: #f1f1f1;
    --redux-sign-in-button-background: #167ac6;
}
/*GENERAL STYLES*/
ytd-app[masthead-hidden] {
    --ytd-masthead-height: 0px !important;
    --overridden-masthead-height: var(--ytd-masthead-height);
}
#page-manager.ytd-app,
#guide-spacer.ytd-app {
    --ytd-toolbar-offset: var(--overridden-masthead-height, var(--ytd-toolbar-height)) !important;
    margin-top: var(--overridden-masthead-height,var(--ytd-toolbar-height)) !important;
}
ytd-mini-guide-renderer.ytd-app {
    top: var(--overridden-masthead-height,var(--ytd-toolbar-height)) !important;
}
html[dark] #video-title.ytd-rich-grid-media,
html[dark] ytd-rich-item-renderer yt-lockup-metadata-view-model a[href][aria-haspopup] {
    color: var(--redux-dimmed-white) !important;
}
html[dark] ytd-rich-item-renderer yt-content-metadata-view-model {
    color: var(--redux-spec-text-secondary) !important;
}
html[dark] #video-title.ytd-rich-grid-media:hover,
html[dark] ytd-rich-item-renderer yt-lockup-metadata-view-model a[href][aria-haspopup]:hover,
html[dark] ytd-rich-item-renderer yt-lockup-metadata-view-model a[href][tabindex]:hover {
    text-decoration: underline;
}
html:not([dark]) #video-title.ytd-rich-grid-media,
html:not([dark]) ytd-rich-item-renderer yt-lockup-metadata-view-model a[href] {
    color: #167ac6 !important;
}
html:not([dark]) #video-title.ytd-rich-grid-media:hover,
html:not([dark]) ytd-rich-item-renderer yt-lockup-metadata-view-model a[href]:hover {
    color: #167ac6 !important;
    text-decoration: underline;
}
yt-lockup-view-model .yt-lockup-view-model-wiz__content-image {
    padding-bottom: 0 !important;
}
.yt-lockup-metadata-view-model-wiz__menu-button {
    margin-top: 12px;
}
yt-content-metadata-view-model > div:first-child {
    margin-top: 0 !important;
}
#video-title.ytd-rich-grid-media {
    font-size: min(14px, calc((90 / var(--ytd-rich-grid-items-per-row)) * 1px)) !important;
    line-height: 1.8rem !important;
}
#video-title.ytd-rich-grid-media:hover,
.yt-lockup-metadata-view-model-wiz__title > .yt-core-attributed-string--white-space-pre-wrap:hover {
    text-decoration: underline;
}
#text.ytd-channel-name {
    font-size: min(14px, calc((90 / var(--ytd-rich-grid-items-per-row)) * 1px)) !important;
}
#metadata-line.ytd-video-meta-block span.ytd-video-meta-block {
    font-size: min(11px, calc((90 / var(--ytd-rich-grid-items-per-row)) * 1px)) !important;
}
ytd-rich-item-renderer {
    margin-bottom: 15px !important;
    margin-left: calc(var(--ytd-rich-grid-item-margin)/2) !important;
    margin-right: calc(var(--ytd-rich-grid-item-margin)/2) !important;
}
ytd-guide-section-renderer {
    --paper-item-min-height: 30px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
ytd-guide-entry-renderer[guide-refresh] {
    width: calc(100% - 8px) !important;
}
#guide-links-primary.ytd-guide-renderer > a, #guide-links-secondary.ytd-guide-renderer > a {
    font-size:10px !important;
}
#guide-section-title.ytd-guide-section-renderer,
#guide-section-title.ytd-guide-section-renderer a,
ytd-guide-entry-renderer[is-header] .title.ytd-guide-entry-renderer {
    color:#F00 !important;
    text-transform: uppercase;
    font-size: 1.4rem !important;
}
ytd-guide-entry-renderer[is-header] .title.ytd-guide-entry-renderer + [icon="chevron_right"] {
    display: none !important;
}
.guide-icon.ytd-guide-entry-renderer {
    --iron-icon-height: 20px !important;
    --iron-icon-width: 20px !important;
    margin-right: 15px !important;
    color:#878787 !important;
}
ytd-guide-entry-renderer {
	width: 100% !important;
}
.ytd-guide-entry-renderer:hover {
	background: #444444;
}
ytd-guide-entry-renderer[active] .ytd-guide-entry-renderer:hover {
	background: #ff0000 !important;
}

#header-entry .ytd-guide-entry-renderer:hover {
	background: none !important;
}

.ytd-guide-entry-renderer:hover > .title {
	color: #ffffff !important;
}
.ytd-guide-entry-renderer:hover > .guide-icon.ytd-guide-entry-renderer {
	color: #ffffff !important;
}
#endpoint[href="/playlist?list=WL"]:hover yt-icon:first-of-type, #endpoint[href="/playlist?list=LL"]:hover yt-icon:first-of-type {
  filter: invert(1) brightness(100) !important;
}

yt-img-shadow.ytd-guide-entry-renderer {
    margin-right: 15px !important;
}
/* Round corners */
.thumbnail.ytd-notification-renderer,
ytd-thumbnail #thumbnail.ytd-thumbnail,
ytd-thumbnail::before,
.ytCollectionsStackCollectionStack1,
.ytCollectionsStackCollectionStack1Medium,
.ytCollectionsStackCollectionStack2,
ytd-guide-entry-renderer,
ytd-guide-entry-renderer > a,
ytd-multi-page-menu-renderer,
div.ytd-searchbox,
.rich-grid-media-skeleton .rich-thumbnail,
.rich-grid-media-skeleton .rich-thumbnail::before,
ytd-thumbnail-overlay-endorsement-renderer,
#video-preview-container,
.html5-video-player,
.ytp-sfn,
ytd-menu-popup-renderer,
tp-yt-paper-item:focus:before,
yt-interaction.down,
ytd-player,
body > iframe + div:last-of-type > div > div,
ytd-playlist-thumbnail #thumbnail.ytd-playlist-thumbnail,
yt-button-shape > button,
yt-button-shape > a,
ytd-thumbnail-overlay-time-status-renderer.ytd-thumbnail,
tp-yt-paper-toast,
tp-yt-paper-dialog,
#playlist > #container,
.ytp-popup,
.ytp-rounded-menu,
ytd-engagement-panel-section-list-renderer,
ytd-miniplayer,
.ytd-miniplayer,
.immersive-header-container.ytd-playlist-header-renderer,
.image-wrapper.ytd-hero-playlist-thumbnail-renderer,
ytd-playlist-video-renderer,
.branding-context-container-inner.ytp-rounded-branding-context,
.ytp-sb-subscribe.ytp-sb-rounded,
.ytp-sb-unsubscribe.ytp-sb-rounded,
.ytp-ce-video.ytp-ce-large-round,
.ytp-ce-playlist.ytp-ce-large-round,
.ytp-ce-large-round .ytp-ce-expanding-overlay-background,
.ytp-ce-video.ytp-ce-medium-round, 
.ytp-ce-playlist.ytp-ce-medium-round, 
.ytp-ce-medium-round .ytp-ce-expanding-overlay-background,
tp-yt-iron-dropdown div[slot],
html body[rounded-container] tp-yt-paper-tooltip .tp-yt-paper-tooltip[style-target=tooltip],
ytd-rich-metadata-renderer[rounded],
ytd-live-chat-frame,
ytd-macro-markers-list-item-renderer[rounded] #thumbnail.ytd-macro-markers-list-item-renderer,
.iv-card.ytp-rounded-info,
yt-copy-link-renderer[rounded-container] #bar.yt-copy-link-renderer,
#clarify-box > ytd-info-panel-content-renderer,
.ytp-rounded-tooltip,
.ytp-rounded-tooltip .ytp-tooltip-bg,
.ytp-player-minimized .html5-main-video,
.ytp-player-minimized .ytp-miniplayer-scrim,
.ytp-player-minimized.html5-video-player,
#chat-container iframe,
#show-hide-button > ytd-button-renderer,
yt-image-banner-view-model,
yt-subscribe-button-view-model button,
yt-sheet-view-model,
ytp-autonav-endscreen-upnext-thumbnail,
#player-api,
.yt-spec-avatar-shape__image,
.ytp-videowall-still-round-medium .ytp-videowall-still-image,
.ytp-autonav-endscreen-upnext-thumbnail,
.ytp-autonav-endscreen-button-container > button,
.ytp-autonav-endscreen-button-container > a,
yt-interaction.ytd-guide-entry-renderer,
yt-interaction.rounded-large .fill.yt-interaction, 
yt-interaction.rounded-large .stroke.yt-interaction,
yt-chip-cloud-chip-renderer,
yt-playability-error-supported-renderers,
.ytSearchboxComponentInputBox,
.ytSearchboxComponentSearchButton,
.ytSearchboxComponentSuggestionsContainer,
yt-thumbnail-view-model,
yt-page-header-view-model > div,
.rich-thumbnail.ytd-ghost-grid-renderer,
.ytPlayerStoryboardStoryboardImageWrapper,
ytd-universal-watch-card-renderer[rounded] #header,
ytd-universal-watch-card-renderer[rounded] #hero,
ytd-button-banner-view-model a,
.ShortsLockupViewModelHostThumbnailContainerRounded,
.shortsLockupViewModelHostThumbnailContainerRounded,
#shorts-inner-container #player-container,
.ytChipShapeChip,
#chip-container.yt-chip-cloud-chip-renderer,
.yt-flexible-actions-view-model-wiz__action > button-view-model > button,
.ytp-tooltip.ytp-preview:not(.ytp-text-detail), .ytp-tooltip-bg,
ytd-expandable-metadata-renderer[is-watch],
ytd-shorts[enable-new-carousel] .reel-video-in-sequence-thumbnail.ytd-shorts,
.metadata-container.ytd-reel-player-overlay-renderer,
ytd-feed-nudge-renderer[rounded-container] #dismissible.ytd-feed-nudge-renderer,
.ytwTopLandscapeImageLayoutViewModelHostImageHoverOverlayContainer,
ytd-button-renderer.ytd-feed-filter-chip-bar-renderer,
.ytd-rich-item-renderer-highlight,
.ytdMiniplayerComponentContent,
.ytGhostCommentsGhostFill,
.ytGhostCommentsCircle,
#playlist-thumbnail.ytd-structured-description-playlist-lockup-renderer,
.watch-skeleton .text-shell,
.watch-skeleton #secondary-info #top-row #video-owner #channel-icon,
.watch-skeleton #secondary-info #top-row #subscribe-button,
.ytp-delhi-modern .ytp-tooltip.ytp-text-detail.ytp-preview,
.ytp-delhi-modern .ytp-settings-menu .ytp-menuitem > *:last-child {
    border-radius: 0 !important;
}
#ghost-comment-section.ytd-continuation-item-renderer {
    margin-top: 24px;
}
#search-icon-legacy {
    border-radius: 0 2px 2px 0 !important;
}
/* 2025 hover highlights */
.ytd-rich-item-renderer-highlight {
    background: none !important;
    box-shadow: none !important;
}
#details.ytd-rich-grid-media,
.yt-lockup-view-model-wiz {
    cursor: unset !important;
}
/* 2025 layout changes */
ytd-app[frosted-glass-exp] #guide-spacer,
#frosted-glass,
.smartimation__border {
    display: none;
}
:root {
    --yt-frosted-glass-backdrop-filter-override: none !important;
    --yt-spec-overlay-background-medium: rgba(28, 28, 28, 0.9) !important;
    --yt-spec-overlay-background-medium-light: rgba(28, 28, 28, 0.9) !important;
    --yt-spec-overlay-background-light: rgba(28, 28, 28, 0.9) !important;
    --yt-spec-overlay-background-extra-light: rgba(28, 28, 28, 0.9) !important;
}
/* 2025 mono video controls */
.ytp-xs-mono-button-style > .ytp-time-wrapper {
    background: none !important;
    height: unset !important;
    font-weight: normal !important;
}
/* 2025 delhi video controls */
.ytp-delhi-modern .ytp-time-wrapper {
    background: none !important;
    height: unset !important;
    font-weight: normal !important;
    color: #DDDDDD !important;
}
.ytp-delhi-modern .ytp-time-wrapper > span {
    color: #DDDDDD !important;
}
.ytp-delhi-modern .ytp-heat-map-container {
    margin-bottom: 0 !important;
}
.ytp-delhi-modern.ytp-big-mode .ytp-heat-map-container {
    bottom: 5px !important;
}
.ytp-delhi-modern .ytp-heat-map-svg path {
    fill: #ffffff5e !important;
    stroke: none !important;
}
.ytp-delhi-modern .ytp-tooltip-progress-bar-pill {
    background: none !important;
}
.ytp-delhi-modern .ytp-progress-bar-container {
    height: 5px !important;
    bottom: var(--yt-delhi-pill-height, 48px) !important;
}
.ytp-delhi-modern .ytp-chrome-controls {
    height: var(--yt-delhi-pill-height, 48px) !important;
    line-height: var(--yt-delhi-pill-height, 48px) !important;
}
.ytp-delhi-modern .ytp-chrome-bottom {
    height: var(--yt-delhi-pill-height, 48px) !important;
}
.ytp-delhi-modern .ytp-chrome-bottom .ytp-button {
    height: var(--yt-delhi-pill-height, 48px) !important;
    width: var(--yt-delhi-pill-height, 48px) !important;
    opacity: 0.9 !important;
}
.ytp-delhi-modern .ytp-chrome-bottom .ytp-button:hover {
    opacity: 1 !important;
}
.ytp-delhi-modern .ytp-chrome-bottom .ytp-right-controls .ytp-button {
    padding: 0 2px !important;
}
.ytp-delhi-modern .ytp-subtitles-button-icon {
    height: 100% !important;
}
.ytp-delhi-modern .ytp-chrome-bottom .ytp-button svg {
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
}
.ytp-delhi-modern .ytp-volume-area {
    margin: 0 !important;
}
.ytp-delhi-modern .ytp-left-controls > .ytp-button,
.ytp-delhi-modern .ytp-left-controls .ytp-volume-area,
.ytp-delhi-modern .ytp-right-controls,
.ytp-delhi-modern .ytp-chapter-title {
    background: none !important;
}
.ytp-delhi-modern .ytp-play-button::after,
.ytp-delhi-modern .ytp-volume-area::after,
.ytp-delhi-modern .ytp-time-wrapper::after,
.ytp-delhi-modern .ytp-right-controls .ytp-button::before,
.ytp-delhi-modern .ytp-next-button::after,
.ytp-delhi-modern .ytp-prev-button::after {
    background: none !important;
}
.ytp-delhi-modern .ytp-prev-button {
    order: -1;
}
.ytp-delhi-modern .ytp-play-button,
.ytp-delhi-modern .ytp-play-button svg {
    padding: 0 1px !important;
}
.ytp-delhi-modern .ytp-play-button-playlist ~ .ytp-next-button {
    display: inline-block !important;
}
.ytp-delhi-modern .ytp-left-controls > *,
.ytp-delhi-modern .ytp-right-controls {
    margin-top: 0px !important;
}
.ytp-delhi-modern .ytp-time-display,
.ytp-delhi-modern .ytp-chapter-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.ytp-delhi-modern .ytp-scrubber-container {
    top: -4px !important;
    left: -6.5px !important;
}
.ytp-delhi-modern .ytp-scrubber-button {
    height: 13px !important;
    width: 13px !important;
    border-radius: 50% !important;
    transform: none !important;
}
.ytp-progress-bar .ytp-scrubber-button {
    opacity: 0 !important;
}
.ytp-progress-bar:hover .ytp-scrubber-button {
    opacity: 1 !important;
}
.ytp-delhi-modern .ytp-volume-slider-handle::before,
.ytp-delhi-modern .ytp-volume-slider-handle::after {
    height: 3px !important;
}
.ytp-delhi-modern .ytp-tooltip-keyboard-shortcut {
    display: none !important;
}
.ytp-delhi-modern .ytp-gradient-bottom {
    display: block !important;
    background-repeat: repeat-x;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==");
}
.ytp-delhi-modern .ytp-progress-bar-start,
.ytp-delhi-modern .ytp-progress-bar-end {
    border-radius: 0 !important;
}
.ytp-delhi-modern .ytp-exp-chapter-hover-effect {
    transform: scaleY(1.05) !important;
}
.ytp-delhi-modern .skipButtonControlBarContainer {
    height: 40px !important;
    margin: 0 !important;
}
.ytp-fullscreen-grid-active.html5-video-player.ended-mode .html5-endscreen {
    display: unset !important;
}
.ytp-fullscreen-grid {
    display: none !important;
}
.ytp-delhi-modern .ytp-contextmenu .ytp-menuitem-toggle-checkbox {
    width: 24px !important;
}
.ytp-delhi-modern .ytp-contextmenu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgdmVyc2lvbj0iMS4xIj48cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=) !important;
}
.ytp-delhi-modern.ytp-delhi-modern-icons .ytp-autonav-toggle-button {
    height: 14.4px;
    width: 36px;
    border-radius: 14.4px;
    top: 50%;
    right: 6px;
    background-color: transparent !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBvcGFjaXR5PSIuNSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMi43IDExYzIuOTUgMCA1LjMtMi4yMSA1LjMtNXMtMi4zNS01LTUuMy01SDcuM0M0LjM1IDEgMiAzLjIxIDIgNnMyLjM1IDUgNS4zIDVoMTUuNHoiIGZpbGw9IiNmZmYiIC8+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4zIDFDNC4zNSAxIDIgMy4yMSAyIDZzMi4zNSA1IDUuMyA1aDE1LjRBNS4xNiA1LjE2IDAgMDAyOCA2bC0uMDMtLjU0QTUuMTYgNS4xNiAwIDAwMjIuNyAxSDcuM3ptMTUuNCAxMWMzLjQ1IDAgNi4zLTIuNiA2LjMtNnMtMi44NS02LTYuMy02SDcuM0MzLjg1IDAgMSAyLjYgMSA2czIuODUgNiA2LjMgNmgxNS40eiIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuMyIgLz48L3N2Zz4=) !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -webkit-transform: translate(0,-50%) !important;
    -ms-transform: translate(0,-50%) !important;
    transform: translate(0,-50%) !important;
    -webkit-transition: all .08s cubic-bezier(.4,0,1,1) !important;
    transition: all .08s cubic-bezier(.4,0,1,1) !important;
}
.ytp-delhi-modern .ytp-autonav-toggle-button[aria-checked="true"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBvcGFjaXR5PSIuNSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMi43IDExYzIuOTUgMCA1LjMtMi4yMSA1LjMtNXMtMi4zNS01LTUuMy01SDcuM0M0LjM1IDEgMiAzLjIxIDIgNnMyLjM1IDUgNS4zIDVoMTUuNHptLTIuNy0uNzV2LTguNWw2LjcgNC4yNi02LjcgNC4yNHoiIGZpbGw9IiNmZmYiIC8+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4zIDFDNC4zNSAxIDIgMy4yMSAyIDZzMi4zNSA1IDUuMyA1aDE1LjRBNS4xNiA1LjE2IDAgMDAyOCA2bC0uMDMtLjU0QTUuMTYgNS4xNiAwIDAwMjIuNyAxSDcuM3ptMTUuNCAxMWMzLjQ1IDAgNi4zLTIuNiA2LjMtNnMtMi44NS02LTYuMy02SDcuM0MzLjg1IDAgMSAyLjYgMSA2czIuODUgNiA2LjMgNmgxNS40eiIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuMyIgLz48L3N2Zz4=) !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -webkit-transform: translate(0,-50%) !important;
    -ms-transform: translate(0,-50%) !important;
    transform: translate(0,-50%) !important;
    -webkit-transition: all .08s cubic-bezier(.4,0,1,1) !important;
    transition: all .08s cubic-bezier(.4,0,1,1) !important;
}
.ytp-delhi-modern .ytp-autonav-toggle-button::after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 20.4px !important;
    width: 20.4px !important;
    border-radius: 20.4px !important;
    margin: 0 !important;
    margin-top: -3px !important;
    background-color: transparent !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNSAxNmE3LjUgNy41IDAgMTAwLTE1IDcuNSA3LjUgMCAwMDAgMTV6IiBmaWxsPSIjNzE3MTcxIiAvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTcgOC41YTguNSA4LjUgMCAxMS0xNyAwIDguNSA4LjUgMCAwMTE3IDB6bS0xIDBhNy41IDcuNSAwIDExLTE1IDAgNy41IDcuNSAwIDAxMTUgMHoiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjE1IiAvPjxwYXRoIGQ9Ik01LjUgMTJoMlY1aC0ydjd6TTkuNSA1djdoMlY1aC0yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=) !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -webkit-transition: all .08s cubic-bezier(.4,0,1,1) !important;
    transition: all .08s cubic-bezier(.4,0,1,1) !important;
}
.ytp-delhi-modern .ytp-autonav-toggle-button[aria-checked="true"]::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNyA4LjVhOC41IDguNSAwIDExLTE3IDAgOC41IDguNSAwIDAxMTcgMHptLTUgMEw2LjUgNXY3TDEyIDguNXptLTEuODYgMEw3LjUgNi44MnYzLjM2bDIuNjQtMS42OHpNOC41IDE2YTcuNSA3LjUgMCAxMDAtMTUgNy41IDcuNSAwIDAwMCAxNXoiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjE1IiAvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYgOC41YTcuNSA3LjUgMCAxMS0xNSAwIDcuNSA3LjUgMCAwMTE1IDB6bS00IDBMNi41IDEyVjVMMTIgOC41eiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=) !important;
    left: 1px !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -webkit-transform: translateX(15.6px) !important;
    -ms-transform: translateX(15.6px) !important;
    transform: translateX(15.6px);
}
.ytp-delhi-modern .ytp-settings-menu .ytp-menuitem-toggle-checkbox {
    height: 14px !important;
    width: 36px !important;
    float: right !important;
    position: relative !important;
    border-radius: 14px !important;
    background: rgba(255,255,255,.3) !important;
    -webkit-transition: all .08s cubic-bezier(.4,0,1,1) !important;
    transition: all .08s cubic-bezier(.4,0,1,1) !important;
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}
.ytp-delhi-modern .ytp-settings-menu .ytp-menuitem[aria-disabled="true"] .ytp-menuitem-toggle-checkbox {
    opacity: .3 !important;
}
.ytp-delhi-modern .ytp-settings-menu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox {
  background: #f00 !important;
}
.ytp-delhi-modern .ytp-settings-menu .ytp-menuitem-toggle-checkbox::after {
    content: "" !important;
    position: absolute !important;
    left: -1px !important;
    top: -0.5px !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 20px !important;
    margin-top: -3px !important;
    background-color: #bdbdbd !important;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.6) !important;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.6) !important;
    -webkit-transition: all .08s cubic-bezier(.4,0,1,1) !important;
    transition: all .08s cubic-bezier(.4,0,1,1) !important;
}
.ytp-delhi-modern .ytp-settings-menu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::after {
    background-color: #fff !important;
    -webkit-transform: translateX(16px) !important;
    -ms-transform: translateX(16px) !important;
    transform: translateX(16px) !important;
}
.ytp-delhi-modern [sponsorblock-category="poi_highlight"] {
    background-color: red !important;
}
.ytp-delhi-modern {
    --yt-delhi-pill-height: 48px !important;
    --yt-delhi-pill-top-height: 12px !important;
    --yt-delhi-big-mode-bottom-controls-height: 54px !important;
    --yt-delhi-big-mode-pill-height: 54px !important;
}
.ytp-delhi-modern.ytp-fullscreen {
    font-size: 17px !important;
    --yt-delhi-pill-top-height: 15px !important;
    --yt-delhi-pill-height: var(--yt-delhi-big-mode-pill-height, 54px) !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-settings-button.ytp-hd-quality-badge::after {
    font-size: 7px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-time-display {
    font-size: 20px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-button.ytp-play-button {
    width: 69px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-progress-bar {
    height: 8px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-scrubber-container {
    height: 20px !important;
    width: 20px !important;
    top: -6px !important;
    left: -10px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-scrubber-button {
    height: 20px !important;
    width: 20px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-autonav-toggle-button {
    height: 18px !important;
    width: 45px !important;
    border-radius: 18px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-autonav-toggle-button::after {
    left: 0 !important;
    height: 25.5px !important;
    width: 25.5px !important;
    border-radius: 25.5px !important;
    margin-top: -3.75px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-autonav-toggle-button[aria-checked=true]::after {
    -webkit-transform: translateX(19.5px) !important;
    -ms-transform: translateX(19.5px) !important;
    transform: translateX(19.5px) !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-settings-menu .ytp-menuitem-toggle-checkbox {
    height: 21px !important;
    width: 54px !important;
    border-radius: 21px !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-settings-menu .ytp-menuitem-toggle-checkbox::after {
    left: -2px !important;
    top: -1px !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 30px !important;
    margin-top: calc(divide(sub(21px, 30px), 2)) !important;
}
.ytp-delhi-modern.ytp-fullscreen .ytp-settings-menu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::after {
    -webkit-transform: translateX(24px) !important;
    -ms-transform: translateX(24px) !important;
    transform: translateX(24px) !important;
}

/* Old Icons */
.ytp-delhi-modern .ytp-chrome-bottom .ytp-button:not(.ytp-play-button) svg path {
    scale: calc(2/3) !important;
}
.ytp-delhi-modern .ytp-chrome-bottom .ytp-button svg path{
    stroke: #000 !important;
    stroke-opacity: .15 !important;
    stroke-width: 2px !important;
    paint-order: stroke !important;
}
/* Play button */
[d*="M 17 8.6 L 10.89 4.99 C 9.39 4.11 7.5 5.19 7.5 6.93 C 7.5 6.93 7.5 6.93 7.5 6.93 L 7.5 29.06 C 7.5 30.8 9.39 31.88 10.89 31 C 10.89 31 10.89 31 10.89 31 L 17 27.4 C 17 27.4 17 27.4 17 27.4 C 17 27.4 17 27.4 17 27.4 L 17 8.6 C 17 8.6 17 8.6 17 8.6 C 17 8.6 17 8.6 17 8.6 Z M 17 8.6 L 17 8.6 C 17 8.6 17 8.6 17 8.6 C 17 8.6 17 8.6 17 8.6 V 27.4 C 17 27.4 17 27.4 17 27.4 C 17 27.4 17 27.4 17 27.4 L 33 18 C 33 18 33 18 33 18 C 33 18 33 18 33 18 V 18 L 17 8.6 C 17 8.6 17 8.6 17 8.6 C 17 8.6 17 8.6 17 8.6 Z"] {
    d: path("M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z");
}
/* Pause button */
[d*="M 12.75 4.5 L 9.75 4.5 C 9.15 4.5 8.58 4.73 8.15 5.15 C 7.73 5.58 7.5 6.15 7.5 6.75 L 7.5 29.25 C 7.5 29.84 7.73 30.41 8.15 30.84 C 8.58 31.26 9.15 31.5 9.75 31.5 L 12.75 31.5 C 13.34 31.5 13.91 31.26 14.34 30.84 C 14.76 30.41 15 29.84 15 29.25 L 15 6.75 C 15 6.15 14.76 5.58 14.34 5.15 C 13.91 4.73 13.34 4.5 12.75 4.5 Z M 26.25 4.5 L 23.25 4.5 C 22.65 4.5 22.08 4.73 21.65 5.15 C 21.23 5.58 21 6.15 21 6.75 V 29.25 C 21 29.84 21.23 30.41 21.65 30.84 C 22.08 31.26 22.65 31.5 23.25 31.5 L 26.25 31.5 C 26.84 31.5 27.41 31.26 27.84 30.84 C 28.26 30.41 28.5 29.84 28.5 29.25 V 6.75 L 28.5 6.75 C 28.5 6.15 28.26 5.58 27.84 5.15 C 27.41 4.73 26.84 4.5 26.25 4.5 Z"] {
    d: path("M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z");
}
/* Replay button */
[d*="M11.29 2.92C14.85 1.33 18.87 1.06 22.61 2.15L22.96 2.26C26.56 3.40 29.67 5.74 31.75 8.89L31.95 9.19C33.90 12.28 34.77 15.93 34.42 19.56L34.38 19.93C34.04 22.79 32.96 25.51 31.25 27.83C29.53 30.14 27.23 31.97 24.59 33.12C21.95 34.27 19.05 34.71 16.18 34.40C13.32 34.08 10.59 33.02 8.26 31.32L7.97 31.10C4.87 28.73 2.71 25.33 1.88 21.52L3.34 21.20L4.81 20.88C5.49 24.00 7.25 26.77 9.79 28.72L10.27 29.07C12.19 30.40 14.41 31.22 16.74 31.44C19.06 31.65 21.40 31.27 23.53 30.31C25.66 29.35 27.50 27.86 28.88 25.98C30.26 24.10 31.13 21.89 31.40 19.58L31.46 18.98C31.68 16.00 30.90 13.03 29.25 10.54C27.60 8.05 25.17 6.18 22.34 5.22L21.77 5.04C19.02 4.23 16.08 4.33 13.38 5.31C10.68 6.29 8.37 8.11 6.77 10.5H10.5L10.65 10.50C11.03 10.54 11.38 10.73 11.63 11.02C11.88 11.31 12.01 11.69 11.99 12.07C11.97 12.46 11.81 12.82 11.53 13.08C11.25 13.35 10.88 13.49 10.5 13.5H1.5V4.5L1.50 4.34C1.54 3.97 1.71 3.63 1.99 3.38C2.27 3.13 2.62 3.00 3 3.00C3.37 3.00 3.72 3.13 4.00 3.38C4.28 3.63 4.45 3.97 4.49 4.34L4.5 4.5V8.51C6.21 6.07 8.56 4.13 11.29 2.92ZM24 18L15 12.75V23.25L24 18ZM3.02 19.73C2.63 19.82 2.29 20.05 2.08 20.39C1.86 20.72 1.79 21.13 1.88 21.52L4.81 20.88C4.77 20.69 4.69 20.50 4.57 20.34C4.46 20.18 4.32 20.04 4.15 19.94C3.99 19.83 3.80 19.76 3.61 19.72C3.41 19.69 3.21 19.69 3.02 19.73Z"] {
    d: path("M 18,11 V 7 l -5,5 5,5 v -4 c 3.3,0 6,2.7 6,6 0,3.3 -2.7,6 -6,6 -3.3,0 -6,-2.7 -6,-6 h -2 c 0,4.4 3.6,8 8,8 4.4,0 8,-3.6 8,-8 0,-4.4 -3.6,-8 -8,-8 z");
}
/* Previous button */
.ytp-delhi-modern .ytp-prev-button svg path {
    d: path("m 12,12 h 2 v 12 h -2 z m 3.5,6 8.5,6 V 12 z");
}
/* Next button */
.ytp-delhi-modern .ytp-next-button svg path {
    d: path("M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z");
}
/* Volume button */
[d*="M11.60 2.08L11.48 2.14L3.91 6.68C3.02 7.21 2.28 7.97 1.77 8.87C1.26 9.77 1.00 10.79 1 11.83V12.16L1.01 12.56C1.07 13.52 1.37 14.46 1.87 15.29C2.38 16.12 3.08 16.81 3.91 17.31L11.48 21.85C11.63 21.94 11.80 21.99 11.98 21.99C12.16 22.00 12.33 21.95 12.49 21.87C12.64 21.78 12.77 21.65 12.86 21.50C12.95 21.35 13 21.17 13 21V3C12.99 2.83 12.95 2.67 12.87 2.52C12.80 2.37 12.68 2.25 12.54 2.16C12.41 2.07 12.25 2.01 12.08 2.00C11.92 1.98 11.75 2.01 11.60 2.08ZM4.94 8.4V8.40L11 4.76V19.23L4.94 15.6C4.38 15.26 3.92 14.80 3.58 14.25C3.24 13.70 3.05 13.07 3.00 12.43L3 12.17V11.83C2.99 11.14 3.17 10.46 3.51 9.86C3.85 9.25 4.34 8.75 4.94 8.4ZM21.29 8.29L19 10.58L16.70 8.29L16.63 8.22C16.43 8.07 16.19 7.99 15.95 8.00C15.70 8.01 15.47 8.12 15.29 8.29C15.12 8.47 15.01 8.70 15.00 8.95C14.99 9.19 15.07 9.43 15.22 9.63L15.29 9.70L17.58 12L15.29 14.29C15.19 14.38 15.12 14.49 15.06 14.61C15.01 14.73 14.98 14.87 14.98 15.00C14.98 15.13 15.01 15.26 15.06 15.39C15.11 15.51 15.18 15.62 15.28 15.71C15.37 15.81 15.48 15.88 15.60 15.93C15.73 15.98 15.86 16.01 15.99 16.01C16.12 16.01 16.26 15.98 16.38 15.93C16.50 15.87 16.61 15.80 16.70 15.70L19 13.41L21.29 15.70L21.36 15.77C21.56 15.93 21.80 16.01 22.05 15.99C22.29 15.98 22.53 15.88 22.70 15.70C22.88 15.53 22.98 15.29 22.99 15.05C23.00 14.80 22.93 14.56 22.77 14.36L22.70 14.29L20.41 12L22.70 9.70C22.80 9.61 22.87 9.50 22.93 9.38C22.98 9.26 23.01 9.12 23.01 8.99C23.01 8.86 22.98 8.73 22.93 8.60C22.88 8.48 22.81 8.37 22.71 8.28C22.62 8.18 22.51 8.11 22.39 8.06C22.26 8.01 22.13 7.98 22.00 7.98C21.87 7.98 21.73 8.01 21.61 8.06C21.49 8.12 21.38 8.19 21.29 8.29Z"] {
    d: path("m 21.48,17.98 c 0,-1.77 -1.02,-3.29 -2.5,-4.03 v 2.21 l 2.45,2.45 c .03,-0.2 .05,-0.41 .05,-0.63 z m 2.5,0 c 0,.94 -0.2,1.82 -0.54,2.64 l 1.51,1.51 c .66,-1.24 1.03,-2.65 1.03,-4.15 0,-4.28 -2.99,-7.86 -7,-8.76 v 2.05 c 2.89,.86 5,3.54 5,6.71 z M 9.25,8.98 l -1.27,1.26 4.72,4.73 H 7.98 v 6 H 11.98 l 5,5 v -6.73 l 4.25,4.25 c -0.67,.52 -1.42,.93 -2.25,1.18 v 2.06 c 1.38,-0.31 2.63,-0.95 3.69,-1.81 l 2.04,2.05 1.27,-1.27 -9,-9 -7.72,-7.72 z m 7.72,.99 -2.09,2.08 2.09,2.09 V 9.98 z");
}
[d*="M 11.60 2.08 L 11.48 2.14 L 3.91 6.68 C 3.02 7.21 2.28 7.97 1.77 8.87 C 1.26 9.77 1.00 10.79 1 11.83 V 12.16 L 1.01 12.56 C 1.07 13.52 1.37 14.46 1.87 15.29 C 2.38 16.12 3.08 16.81 3.91 17.31 L 11.48 21.85 C 11.63 21.94 11.80 21.99 11.98 21.99 C 12.16 22.00 12.33 21.95 12.49 21.87 C 12.64 21.78 12.77 21.65 12.86 21.50 C 12.95 21.35 13 21.17 13 21 V 3 C 12.99 2.83 12.95 2.67 12.87 2.52 C 12.80 2.37 12.68 2.25 12.54 2.16 C 12.41 2.07 12.25 2.01 12.08 2.00 C 11.92 1.98 11.75 2.01 11.60 2.08 Z"] {
    d: path("m 8,21 h 4 l 5,5 V 10 l -5,5 H 8 Z");
}
[d*=" M 15.53 7.05 C 15.35 7.22 15.25 7.45 15.24 7.70 C 15.23 7.95 15.31 8.19 15.46 8.38 L 15.53 8.46 L 15.70 8.64 C 16.09 9.06 16.39 9.55 16.61 10.08 L 16.70 10.31 C 16.90 10.85 17 11.42 17 12 L 16.99 12.24 C 16.96 12.73 16.87 13.22 16.70 13.68 L 16.61 13.91 C 16.36 14.51 15.99 15.07 15.53 15.53 C 15.35 15.72 15.25 15.97 15.26 16.23 C 15.26 16.49 15.37 16.74 15.55 16.92 C 15.73 17.11 15.98 17.21 16.24 17.22 C 16.50 17.22 16.76 17.12 16.95 16.95 C 17.6 16.29 18.11 15.52 18.46 14.67 L 18.59 14.35 C 18.82 13.71 18.95 13.03 18.99 12.34 L 19 12 C 18.99 11.19 18.86 10.39 18.59 9.64 L 18.46 9.32 C 18.15 8.57 17.72 7.89 17.18 7.3 L 16.95 7.05 L 16.87 6.98 C 16.68 6.82 16.43 6.74 16.19 6.75 C 15.94 6.77 15.71 6.87 15.53 7.05"] {
    d: path("m 19,14 v 8 c 1.48,-0.68 2.5,-2.23 2.5,-4 0,-1.74 -1.02,-3.26 -2.5,-4 z");
}
[d*="M18.36 4.22C18.18 4.39 18.08 4.62 18.07 4.87C18.05 5.12 18.13 5.36 18.29 5.56L18.36 5.63L18.66 5.95C19.36 6.72 19.91 7.60 20.31 8.55L20.47 8.96C20.82 9.94 21 10.96 21 11.99L20.98 12.44C20.94 13.32 20.77 14.19 20.47 15.03L20.31 15.44C19.86 16.53 19.19 17.52 18.36 18.36C18.17 18.55 18.07 18.80 18.07 19.07C18.07 19.33 18.17 19.59 18.36 19.77C18.55 19.96 18.80 20.07 19.07 20.07C19.33 20.07 19.59 19.96 19.77 19.77C20.79 18.75 21.61 17.54 22.16 16.20L22.35 15.70C22.72 14.68 22.93 13.62 22.98 12.54L23 12C22.99 10.73 22.78 9.48 22.35 8.29L22.16 7.79C21.67 6.62 20.99 5.54 20.15 4.61L19.77 4.22L19.70 4.15C19.51 3.99 19.26 3.91 19.02 3.93C18.77 3.94 18.53 4.04 18.36 4.22 Z"] {
    d: path("m 19,11.29 c 2.89,0.86 5,3.54 5,6.71 0,3.17 -2.11,5.85 -5,6.71 v 2.06 c 4.01,-0.91 7,-4.49 7,-8.77 0,-4.28 -2.99,-7.86 -7,-8.77 z");
}
/* Subtitle button */
[d*="M21.20 3.01L21 3H3L2.79 3.01C2.30 3.06 1.84 3.29 1.51 3.65C1.18 4.02 .99 4.50 1 5V19L1.01 19.20C1.05 19.66 1.26 20.08 1.58 20.41C1.91 20.73 2.33 20.94 2.79 20.99L3 21H21L21.20 20.98C21.66 20.94 22.08 20.73 22.41 20.41C22.73 20.08 22.94 19.66 22.99 19.20L23 19V5C23.00 4.50 22.81 4.02 22.48 3.65C22.15 3.29 21.69 3.06 21.20 3.01ZM3 19V5H21V19H3ZM8 11H6C5.73 11 5.48 11.10 5.29 11.29C5.10 11.48 5 11.73 5 12C5 12.26 5.10 12.51 5.29 12.70C5.48 12.89 5.73 13 6 13H8C8.26 13 8.51 12.89 8.70 12.70C8.89 12.51 9 12.26 9 12C9 11.73 8.89 11.48 8.70 11.29C8.51 11.10 8.26 11 8 11ZM18 11H12C11.73 11 11.48 11.10 11.29 11.29C11.10 11.48 11 11.73 11 12C11 12.26 11.10 12.51 11.29 12.70C11.48 12.89 11.73 13 12 13H18C18.26 13 18.51 12.89 18.70 12.70C18.89 12.51 19 12.26 19 12C19 11.73 18.89 11.48 18.70 11.29C18.51 11.10 18.26 11 18 11ZM18 15H16C15.73 15 15.48 15.10 15.29 15.29C15.10 15.48 15 15.73 15 16C15 16.26 15.10 16.51 15.29 16.70C15.48 16.89 15.73 17 16 17H18C18.26 17 18.51 16.89 18.70 16.70C18.89 16.51 19 16.26 19 16C19 15.73 18.89 15.48 18.70 15.29C18.51 15.10 18.26 15 18 15ZM12 15H6C5.73 15 5.48 15.10 5.29 15.29C5.10 15.48 5 15.73 5 16C5 16.26 5.10 16.51 5.29 16.70C5.48 16.89 5.73 17 6 17H12C12.26 17 12.51 16.89 12.70 16.70C12.89 16.51 13 16.26 13 16C13 15.73 12.89 15.48 12.70 15.29C12.51 15.10 12.26 15 12 15Z"] {
    d: path("M11,11 C9.9,11 9,11.9 9,13 L9,23 C9,24.1 9.9,25 11,25 L25,25 C26.1,25 27,24.1 27,23 L27,13 C27,11.9 26.1,11 25,11 L11,11 Z M11,17 L14,17 L14,19 L11,19 L11,17 L11,17 Z M20,23 L11,23 L11,21 L20,21 L20,23 L20,23 Z M25,23 L22,23 L22,21 L25,21 L25,23 L25,23 Z M25,19 L16,19 L16,17 L25,17 L25,19 L25,19 Z");
}
[d*="M21 3H3C2.46 3 1.96 3.21 1.58 3.58C1.21 3.96 1 4.46 1 5V19C1 19.53 1.21 20.03 1.58 20.41C1.96 20.78 2.46 21 3 21H21C21.53 21 22.03 20.78 22.41 20.41C22.78 20.03 23 19.53 23 19V5C23 4.46 22.78 3.96 22.41 3.58C22.03 3.21 21.53 3 21 3ZM6 11H8C8.26 11 8.51 11.10 8.70 11.29C8.89 11.48 9 11.73 9 12C9 12.26 8.89 12.51 8.70 12.70C8.51 12.89 8.26 13 8 13H6C5.73 13 5.48 12.89 5.29 12.70C5.10 12.51 5 12.26 5 12C5 11.73 5.10 11.48 5.29 11.29C5.48 11.10 5.73 11 6 11ZM12 11H18C18.26 11 18.51 11.10 18.70 11.29C18.89 11.48 19 11.73 19 12C19 12.26 18.89 12.51 18.70 12.70C18.51 12.89 18.26 13 18 13H12C11.73 13 11.48 12.89 11.29 12.70C11.10 12.51 11 12.26 11 12C11 11.73 11.10 11.48 11.29 11.29C11.48 11.10 11.73 11 12 11ZM16 15H18C18.26 15 18.51 15.10 18.70 15.29C18.89 15.48 19 15.73 19 16C19 16.26 18.89 16.51 18.70 16.70C18.51 16.89 18.26 17 18 17H16C15.73 17 15.48 16.89 15.29 16.70C15.10 16.51 15 16.26 15 16C15 15.73 15.10 15.48 15.29 15.29C15.48 15.10 15.73 15 16 15ZM6 15H12C12.26 15 12.51 15.10 12.70 15.29C12.89 15.48 13 15.73 13 16C13 16.26 12.89 16.51 12.70 16.70C12.51 16.89 12.26 17 12 17H6C5.73 17 5.48 16.89 5.29 16.70C5.10 16.51 5 16.26 5 16C5 15.73 5.10 15.48 5.29 15.29C5.48 15.10 5.73 15 6 15Z"] {
    d: path("M11,11 C9.89,11 9,11.9 9,13 L9,23 C9,24.1 9.89,25 11,25 L25,25 C26.1,25 27,24.1 27,23 L27,13 C27,11.9 26.1,11 25,11 L11,11 Z M17,17 L15.5,17 L15.5,16.5 L13.5,16.5 L13.5,19.5 L15.5,19.5 L15.5,19 L17,19 L17,20 C17,20.55 16.55,21 16,21 L13,21 C12.45,21 12,20.55 12,20 L12,16 C12,15.45 12.45,15 13,15 L16,15 C16.55,15 17,15.45 17,16 L17,17 L17,17 Z M24,17 L22.5,17 L22.5,16.5 L20.5,16.5 L20.5,19.5 L22.5,19.5 L22.5,19 L24,19 L24,20 C24,20.55 23.55,21 23,21 L20,21 C19.45,21 19,20.55 19,20 L19,16 C19,15.45 19.45,15 20,15 L23,15 C23.55,15 24,15.45 24,16 L24,17 L24,17 Z");
}
/* Settings button */
.ytp-delhi-modern .ytp-settings-button svg path {
    d: path( "m 23.94,18.78 c .03,-0.25 .05,-0.51 .05,-0.78 0,-0.27 -0.02,-0.52 -0.05,-0.78 l 1.68,-1.32 c .15,-0.12 .19,-0.33 .09,-0.51 l -1.6,-2.76 c -0.09,-0.17 -0.31,-0.24 -0.48,-0.17 l -1.99,.8 c -0.41,-0.32 -0.86,-0.58 -1.35,-0.78 l -0.30,-2.12 c -0.02,-0.19 -0.19,-0.33 -0.39,-0.33 l -3.2,0 c -0.2,0 -0.36,.14 -0.39,.33 l -0.30,2.12 c -0.48,.2 -0.93,.47 -1.35,.78 l -1.99,-0.8 c -0.18,-0.07 -0.39,0 -0.48,.17 l -1.6,2.76 c -0.10,.17 -0.05,.39 .09,.51 l 1.68,1.32 c -0.03,.25 -0.05,.52 -0.05,.78 0,.26 .02,.52 .05,.78 l -1.68,1.32 c -0.15,.12 -0.19,.33 -0.09,.51 l 1.6,2.76 c .09,.17 .31,.24 .48,.17 l 1.99,-0.8 c .41,.32 .86,.58 1.35,.78 l .30,2.12 c .02,.19 .19,.33 .39,.33 l 3.2,0 c .2,0 .36,-0.14 .39,-0.33 l .30,-2.12 c .48,-0.2 .93,-0.47 1.35,-0.78 l 1.99,.8 c .18,.07 .39,0 .48,-0.17 l 1.6,-2.76 c .09,-0.17 .05,-0.39 -0.09,-0.51 l -1.68,-1.32 0,0 z m -5.94,2.01 c -1.54,0 -2.8,-1.25 -2.8,-2.8 0,-1.54 1.25,-2.8 2.8,-2.8 1.54,0 2.8,1.25 2.8,2.8 0,1.54 -1.25,2.8 -2.8,2.8 l 0,0 z");
}
/* Cinema mode button */
[d*="M21.20 3.01L21 3H3L2.79 3.01C2.30 3.06 1.84 3.29 1.51 3.65C1.18 4.02 .99 4.50 1 5V19L1.01 19.20C1.05 19.66 1.26 20.08 1.58 20.41C1.91 20.73 2.33 20.94 2.79 20.99L3 21H21L21.20 20.98C21.66 20.94 22.08 20.73 22.41 20.41C22.73 20.08 22.94 19.66 22.99 19.20L23 19V5C23.00 4.50 22.81 4.02 22.48 3.65C22.15 3.29 21.69 3.06 21.20 3.01ZM3 15V5H21V15H3ZM7.87 6.72L7.79 6.79L4.58 10L7.79 13.20C7.88 13.30 7.99 13.37 8.11 13.43C8.23 13.48 8.37 13.51 8.50 13.51C8.63 13.51 8.76 13.48 8.89 13.43C9.01 13.38 9.12 13.31 9.21 13.21C9.31 13.12 9.38 13.01 9.43 12.89C9.48 12.76 9.51 12.63 9.51 12.50C9.51 12.37 9.48 12.23 9.43 12.11C9.37 11.99 9.30 11.88 9.20 11.79L7.41 10L9.20 8.20L9.27 8.13C9.42 7.93 9.50 7.69 9.48 7.45C9.47 7.20 9.36 6.97 9.19 6.80C9.02 6.63 8.79 6.52 8.54 6.51C8.30 6.49 8.06 6.57 7.87 6.72ZM14.79 6.79C14.60 6.98 14.50 7.23 14.50 7.5C14.50 7.76 14.60 8.01 14.79 8.20L16.58 10L14.79 11.79L14.72 11.86C14.57 12.06 14.49 12.30 14.50 12.54C14.51 12.79 14.62 13.02 14.79 13.20C14.97 13.37 15.20 13.48 15.45 13.49C15.69 13.50 15.93 13.42 16.13 13.27L16.20 13.20L19.41 10L16.20 6.79C16.01 6.60 15.76 6.50 15.5 6.50C15.23 6.50 14.98 6.60 14.79 6.79ZM3 19V17H21V19H3Z"] {
    d: path("m 28,11 0,14 -20,0 0,-14 z m -18,2 16,0 0,10 -16,0 0,-10 z");
    fill-rule: evenodd !important;
}
[d*="M21.20 3.01L21 3H3L2.79 3.01C2.30 3.06 1.84 3.29 1.51 3.65C1.18 4.02 .99 4.50 1 5V19L1.01 19.20C1.05 19.66 1.26 20.08 1.58 20.41C1.91 20.73 2.33 20.94 2.79 20.99L3 21H21L21.20 20.98C21.66 20.94 22.08 20.73 22.41 20.41C22.73 20.08 22.94 19.66 22.99 19.20L23 19V5C23.00 4.50 22.81 4.02 22.48 3.65C22.15 3.29 21.69 3.06 21.20 3.01ZM3 15V5H21V15H3ZM16.87 6.72H16.86L16.79 6.79L13.58 10L16.79 13.20C16.88 13.30 16.99 13.37 17.11 13.43C17.23 13.48 17.37 13.51 17.50 13.51C17.63 13.51 17.76 13.48 17.89 13.43C18.01 13.38 18.12 13.31 18.21 13.21C18.31 13.12 18.38 13.01 18.43 12.89C18.48 12.76 18.51 12.63 18.51 12.50C18.51 12.37 18.48 12.23 18.43 12.11C18.37 11.99 18.30 11.88 18.20 11.79L16.41 10L18.20 8.20L18.27 8.13C18.42 7.93 18.50 7.69 18.49 7.45C18.47 7.20 18.37 6.97 18.20 6.79C18.02 6.62 17.79 6.52 17.55 6.50C17.30 6.49 17.06 6.57 16.87 6.72ZM5.79 6.79C5.60 6.98 5.50 7.23 5.50 7.5C5.50 7.76 5.60 8.01 5.79 8.20L7.58 10L5.79 11.79L5.72 11.86C5.57 12.06 5.49 12.30 5.50 12.54C5.51 12.79 5.62 13.02 5.79 13.20C5.97 13.37 6.20 13.48 6.45 13.49C6.69 13.50 6.93 13.42 7.13 13.27L7.20 13.20L10.41 10L7.20 6.79C7.01 6.60 6.76 6.50 6.5 6.50C6.23 6.50 5.98 6.60 5.79 6.79ZM3 19V17H21V19H3Z"] {
    d: path("m 26,13 0,10 -16,0 0,-10 z m -14,2 12,0 0,6 -12,0 0,-6 z");
    fill-rule: evenodd !important;
}
/* Play on TV button */
.ytp-delhi-modern .ytp-remote-button svg path {
    d: path("M27,9 L9,9 C7.9,9 7,9.9 7,11 L7,14 L9,14 L9,11 L27,11 L27,25 L20,25 L20,27 L27,27 C28.1,27 29,26.1 29,25 L29,11 C29,9.9 28.1,9 27,9 L27,9 Z M7,24 L7,27 L10,27 C10,25.34 8.66,24 7,24 L7,24 Z M7,20 L7,22 C9.76,22 12,24.24 12,27 L14,27 C14,23.13 10.87,20 7,20 L7,20 Z M7,16 L7,18 C11.97,18 16,22.03 16,27 L18,27 C18,20.92 13.07,16 7,16 L7,16 Z");
}
/* Fullscreen button */
[d*="M10 3H3V10C3 10.26 3.10 10.51 3.29 10.70C3.48 10.89 3.73 11 4 11C4.26 11 4.51 10.89 4.70 10.70C4.89 10.51 5 10.26 5 10V6.41L9.29 10.70L9.36 10.77C9.56 10.92 9.80 11.00 10.04 10.99C10.29 10.98 10.52 10.87 10.70 10.70C10.87 10.52 10.98 10.29 10.99 10.04C11.00 9.80 10.92 9.56 10.77 9.36L10.70 9.29L6.41 5H10C10.26 5 10.51 4.89 10.70 4.70C10.89 4.51 11 4.26 11 4C11 3.73 10.89 3.48 10.70 3.29C10.51 3.10 10.26 3 10 3ZM20 13C19.73 13 19.48 13.10 19.29 13.29C19.10 13.48 19 13.73 19 14V17.58L14.70 13.29L14.63 13.22C14.43 13.07 14.19 12.99 13.95 13.00C13.70 13.01 13.47 13.12 13.29 13.29C13.12 13.47 13.01 13.70 13.00 13.95C12.99 14.19 13.07 14.43 13.22 14.63L13.29 14.70L17.58 19H14C13.73 19 13.48 19.10 13.29 19.29C13.10 19.48 13 19.73 13 20C13 20.26 13.10 20.51 13.29 20.70C13.48 20.89 13.73 21 14 21H21V14C21 13.73 20.89 13.48 20.70 13.29C20.51 13.10 20.26 13 20 13Z"] {
    d: path("m 10,16 h 2 v -4 h 4 v -2 h -6 z m 10,-6 v 2 h 4 v 4 h 2 v -6 z m 4,14 h -4 v 2 h 6 V 20 H 24 Z M 12,20 h -2 v 6 h 6 v -2 h -4 z");
}
[d*="M3.29 3.29C3.11 3.46 3.01 3.70 3.00 3.94C2.98 4.19 3.06 4.43 3.22 4.63L3.29 4.70L7.58 8.99H5C4.73 8.99 4.48 9.10 4.29 9.29C4.10 9.47 4 9.73 4 9.99C4 10.26 4.10 10.51 4.29 10.70C4.48 10.89 4.73 10.99 5 10.99H11V4.99C11 4.73 10.89 4.47 10.70 4.29C10.51 4.10 10.26 3.99 10 3.99C9.73 3.99 9.48 4.10 9.29 4.29C9.10 4.47 9 4.73 9 4.99V7.58L4.70 3.29L4.63 3.22C4.43 3.06 4.19 2.98 3.94 3.00C3.70 3.01 3.46 3.11 3.29 3.29ZM19 13H13V19C13 19.26 13.10 19.51 13.29 19.70C13.48 19.89 13.73 20 14 20C14.26 20 14.51 19.89 14.70 19.70C14.89 19.51 15 19.26 15 19V16.41L19.29 20.70L19.36 20.77C19.56 20.92 19.80 21.00 20.04 20.99C20.29 20.98 20.52 20.87 20.70 20.70C20.87 20.52 20.98 20.29 20.99 20.04C21.00 19.80 20.92 19.56 20.77 19.36L20.70 19.29L16.41 15H19C19.26 15 19.51 14.89 19.70 14.70C19.89 14.51 20 14.26 20 14C20 13.73 19.89 13.48 19.70 13.29C19.51 13.10 19.26 13 19 13Z"] {
    d: path("m 10,22 h 4 v 4 h 2 v -6 h -6 v 2 z m 10,4 h 2 v -4 h 4 v -2 h -6 v 6 z m 2,-12 v -4 h -2 v 6 h 6 v -2 h -4 z m -8,0 h -4 v 2 h 6 v -6 h -2 v 4 z");
}

/* turned off due to max() not being supported in old browsers

#container.ytd-masthead { 
    height: 50px !important;
} 
#header.ytd-app { 
    height: 50px !important;
} 
#guide-spacer.ytd-app { 
    margin-top: max(calc(var(--ytd-masthead-height, var(--ytd-toolbar-height)) - 6px), 0px) !important;
}
#page-manager.ytd-app {
    margin-top: max(calc(var(--ytd-masthead-height, var(--ytd-toolbar-height)) - 6px), 0px) !important;
}
ytd-mini-guide-renderer.ytd-app {
    top: max(calc(var(--ytd-masthead-height, var(--ytd-toolbar-height)) - 6px), 0px) !important;
}
#container.ytd-searchbox {
    padding: 1px 0px !important;
} */

/*VIDEO STYLES*/
ytd-video-preview {
    padding: 0 !important;
    margin: 12px;
}
.title.style-scope.ytd-video-primary-info-renderer yt-formatted-string.ytd-video-primary-info-renderer,
#above-the-fold #title yt-formatted-string {
    font-size: 20px;
    font-weight: 400 !important;
    font-family: "Roboto","Arial",sans-serif !important;
}
ytd-toggle-button-renderer {
    font-weight: normal !important;
}
#like-bar.ytd-sentiment-bar-renderer {
    background: #167ac6 !important;
}
#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer {
    border-radius:0% !important;
}
#author-thumbnail.ytd-comment-simplebox-renderer {
    border-radius:0% !important;
}
#avatar.ytd-video-owner-renderer {
    border-radius:0% !important;
    width: 48px !important;
    height: 48px !important;
    margin-right: 10px !important;
}
#avatar.ytd-video-owner-renderer > img {
    width: 100%;
    height: 100%;
}
ytd-video-owner-renderer {
    align-items: end;
}
.yt-simple-endpoint.ytd-video-owner-renderer {
    display: flex !important;
}
html:not([dark]) #author-text {
    color: #128ee9 !important;
}
html:not([dark]) ytd-author-comment-badge-renderer {
    --ytd-author-comment-badge-name-color: #128ee9 !important;
}
html:not([dark]) .more-button.ytd-comment-replies-renderer, 
html:not([dark]) .less-button.ytd-comment-replies-renderer,
html:not([dark]) ytd-comment-replies-renderer #expander button {
    color: #2793e6 !important;
}
span.yt-view-count-renderer, span.ytd-video-view-count-renderer {
    font-size:18px !important;
}
ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy, 
ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy {
    padding-top: 10px !important;
}
ytd-watch-flexy[theater] #secondary.ytd-watch-flexy {
    margin-top: 12px !important;
}
ytd-expander.ytd-video-secondary-info-renderer {
    line-height:15px !important;
    font-size:13px !important;
}
#description.ytd-video-secondary-info-renderer {
    max-width:none !important;
}
html:not([dark]) #vote-count-middle {
    color: #128ee9 !important;
}
/* html[dark] #vote-count-middle {
    color: #3ea6ff !important;
} */
.content.ytd-metadata-row-header-renderer {
    display:none !important;
}
ytd-metadata-row-renderer {
    margin:0 !important;
}
#title.ytd-metadata-row-renderer {
    font-size:11px !important;
    margin:0 !important;
}
.content.ytd-metadata-row-renderer {
    font-size:11px !important;
    font-weight:normal !important;
}
html:not([dark]) ytd-author-comment-badge-renderer[creator] {
    background-color: #c0c0c080 !important;
}
#primary-inner.ytd-watch-flexy #title.ytd-rich-metadata-renderer, #primary-inner.ytd-watch-flexy #subtitle.ytd-rich-metadata-renderer, #primary-inner.ytd-watch-flexy #call-to-action.ytd-rich-metadata-renderer {
    font-size: 11px !important;
    line-height: 15px !important;
    margin-top: 0px !important;
}
#primary-inner.ytd-watch-flexy #call-to-action.ytd-rich-metadata-renderer {
    align-items: normal !important;
}
#primary-inner.ytd-watch-flexy #call-to-action.ytd-rich-metadata-renderer yt-icon {
    display: none;
}
#primary-inner.ytd-watch-flexy ytd-thumbnail.ytd-rich-metadata-renderer {
    max-width: 40px !important;
    max-height: 56px !important;
    margin: 0px 10px 0 0 !important;
}
#primary-inner.ytd-watch-flexy ytd-rich-metadata-renderer {
    max-width: min-content !important;
    min-width: max-content !important;
}
#always-shown ytd-rich-metadata-renderer {
    background: none;
}
ytd-button-renderer.redux-moved-info:first-of-type yt-icon,
#above-the-fold #flexible-item-buttons > *:last-child yt-icon {
    content: url('chrome-extension://__MSG_@@extension_id__/images/plus.svg');
}
ytd-button-renderer.redux-moved-info:first-of-type yt-icon-button#button {
    padding: 9px !important;
}
.redux-moved-info:last-of-type + yt-icon-button {
    transform: translateY(-3px);
}
#author-thumbnail.ytd-commentbox, ytd-commentbox[is-reply][is-backstage-comment] #author-thumbnail.ytd-commentbox,
ytd-commentbox[is-reply] #author-thumbnail.ytd-commentbox {
    border-radius: 0% !important;
}
#top-row.ytd-video-secondary-info-renderer {
    padding-top: 4px !important;
}
#info ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer {
    color: #606060;
}
html[dark] #info ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer {
    color: var(--redux-spec-text-secondary-buttons) !important;
}
html:not([dark]) ytd-toggle-button-renderer.style-text[is-icon-button] #text.ytd-toggle-button-renderer,
html:not([dark]) ytd-button-renderer.style-default[is-icon-button] #text.ytd-button-renderer {
    color: #606060 !important;
}
html:not([dark]) #container.ytd-sentiment-bar-renderer {
    background-color: #ccc;
}
#top-level-buttons-computed ytd-download-button-renderer yt-formatted-string {
    color: var(--redux-spec-text-secondary-buttons) !important;
}
ytd-video-primary-info-renderer yt-button-shape > button:not(#info #upload-info yt-button-shape > button) {
    background-color: unset !important;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
}
ytd-video-primary-info-renderer yt-button-shape > button > div:not(#info #upload-info yt-button-shape > button > div) {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-top: 1px;
}
#top-level-buttons-computed #segmented-like-button {
    padding-right: 0;
}
#top-level-buttons-computed #segmented-like-button button::after {
    display: none;
}
ytd-video-primary-info-renderer > [button-renderer] yt-icon {
    width: 17px !important;
    height: 17px !important;
}
#info a[href*="hashtag"] {
    color: var(--redux-double-inverse);
    background-color: var(--redux-spec-badge-chip-background);
    padding: 1px 2px;
    margin-bottom: 2px;
}
.ytp-panel sup {
    color: red;
}
.ytp-progress-list {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.ytp-swatch-background-color {
    background-color: #f00 !important;
    background-image: none !important;
}
ytd-watch-metadata #above-the-fold #owner {
    max-width: none !important;
}

/*PLAYLIST STYLES*/
#text.ytd-alert-with-button-renderer {
    color:#0066ff !important;
}
#contributor.ytd-playlist-video-renderer, #index.ytd-playlist-video-renderer, #content.ytd-playlist-video-renderer {
    padding: 4px 0 !important;
}
#playlist.ytd-watch-flexy {
    margin-bottom: 10px !important;
    margin-left: -13px !important;
}
    
/*SEARCH RESULTS STYLES*/
ytd-item-section-renderer ytd-thumbnail:not([rich-grid-thumbnail]), 
ytd-item-section-renderer ytd-playlist-thumbnail,
ytd-item-section-renderer .yt-lockup-view-model-wiz__content-image,
ytd-two-column-search-results-renderer .yt-lockup-view-model__content-image {
    max-width: 246px !important;
}
ytd-item-section-renderer yt-lockup-view-model > div {
    margin-top: 0px !important;
}
html:not([dark]) #video-title.ytd-video-renderer,
html:not([dark]) ytd-item-section-renderer .yt-lockup-metadata-view-model-wiz__title {
    color:#167ac6 !important;
}
html:not([dark]) #video-title.ytd-playlist-renderer {
    color:#167ac6 !important;
}
ytd-video-renderer #channel-info.ytd-video-renderer {
    padding:0 !important;
}
ytd-search-filter-renderer.ytd-search-filter-group-renderer {
    padding: 2px 0 0 !important;
}
html:not([dark]) #video-title.ytd-radio-renderer {
    color:#167ac6 !important;
}
yt-img-shadow.ytd-channel-renderer {
    border-radius: 0% !important;
}
ytd-channel-renderer #avatar-section.ytd-channel-renderer .channel-link.ytd-channel-renderer {
    -webkit-justify-content: normal !important;
    justify-content: normal !important;
}
ytd-channel-renderer #avatar-section.ytd-channel-renderer {
    -webkit-flex: 0 !important;
    flex: 0 !important;
    margin-right: 22px !important;
}
#container.style-scope.ytd-search {
    align-items: center;
}
ytd-search ytd-video-renderer,
ytd-search yt-lockup-view-model {
    margin-top: 10px !important;
}

ytd-two-column-search-results-renderer tp-yt-paper-button.ytd-subscribe-button-renderer {
    margin-right: 15px !important;
}

.ytSuggestionComponentRoundedSuggestion {
	border-radius: 0 !important;
	margin: 0 !important;
	height: 32px !important;
}

/*CHANNEL STYLES*/
html:not([dark]) #video-title.ytd-grid-playlist-renderer {
    color:#167ac6 !important;
}
html:not([dark]) #video-title.yt-simple-endpoint.ytd-grid-video-renderer {
    color:#167ac6 !important;
}
#video-title.yt-simple-endpoint.ytd-grid-video-renderer:hover {
    text-decoration: underline;
}
.tab-content.paper-tab,
.tab-content.tp-yt-paper-tab {
    font-size:13px !important;
}
paper-tab.ytd-c4-tabbed-header-renderer,
tp-yt-paper-tab.ytd-c4-tabbed-header-renderer {
    padding: 0 8px !important;
}
#selectionBar.paper-tabs,
#selectionBar.tp-yt-paper-tabs {
    border-bottom: 2px solid #f00 !important;
}
.yt-tab-group-shape-wiz__slider {
    background-color: #f00 !important;
}
#description.ytd-channel-about-metadata-renderer, #bio.ytd-channel-about-metadata-renderer {
    font-size:13px !important;
}
html:not([dark]) #title.ytd-grid-channel-renderer {
    color:#167ac6 !important;
}
yt-img-shadow.ytd-grid-channel-renderer {
    border-radius: 0% !important;
}
yt-img-shadow.ytd-channel-avatar-editor {
    border-radius: 0% !important;
}
#avatar.ytd-c4-tabbed-header-renderer {
    border-radius: 0% !important;
}
yt-img-shadow.ytd-mini-channel-renderer {
    border-radius: 0% !important;
}
#items.ytd-vertical-channel-section-renderer > *.ytd-vertical-channel-section-renderer:not(:first-child) {
    padding-top: 8px !important;
}
.grid-subheader.ytd-shelf-renderer {
    margin-top: 12px !important;
}
#contents.ytd-shelf-renderer {
    margin-top: 12px !important;
}
[page-subtype="channels"] ytd-rich-grid-row > #contents > ytd-rich-item-renderer[is-slim-grid]:first-of-type {
    margin-left: calc(var(--ytd-rich-grid-item-margin)/2);
}
#redux-sort-chip {
    display: inline-flex;
    background-color: var(--redux-spec-badge-chip-background);
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 0 12px 0 12px;
    padding: 0 12px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--redux-double-inverse);
    transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
}
#redux-sort-chip:hover {
    cursor: pointer;
    background-color: var(--redux-spec-badge-chip-background-hover);
}
#contentContainer.tp-yt-app-header {
	max-width: 1070px !important;
	margin: auto;
}
#page-header-banner {
	padding: 0 !important;
}
.tabGroupShapeSlider {
	background: #ff0000 !important;
	height: 3px !important;
}
tp-yt-app-toolbar.ytd-tabbed-page-header, #tabs-container.ytd-tabbed-page-header, tp-yt-paper-tabs.ytd-tabbed-page-header, [page-subtype="channels"] #tabsContainer, .tabGroupShapeHost, .yt-tab-shape {
	height: 35px !important;
}
.yt-tab-shape__tab {
	font-size: 13px !important;
	font-weight: 400 !important;
}
.yt-tab-shape__tab--tab-selected {
	font-weight: 500 !important;
}
.yt-tab-shape:hover .yt-tab-shape__tab-bar {
	background: #ff0000 !important;
	height: 3px !important;
}
yt-dynamic-text-view-model .dynamicTextViewModelH1 {
	font-size: 20px !important;
}
    
/*FEED STYLES*/
yt-img-shadow.ytd-channel-list-sub-menu-avatar-renderer {
    width: 40px !important;
    height: 40px !important;
}
#contents.ytd-channel-list-sub-menu-renderer {
    max-width:300px !important;
}
.ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment {
	background: #ff0000;
}

/*ADDITIONAL*/
[page-subtype="home"] #contents > ytd-rich-grid-row,
[page-subtype="home"] #contents > ytd-rich-grid-row > #contents {
    display: contents !important;
}
html[dark] #show-more-related input, html[dark] #show-more-comments input {
    border-top: 1px solid var(--yt-spec-10-percent-layer) !important;
}
#redux-trim-span {
    color: var(--redux-spec-text-secondary);
    margin-right: 4px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    border-radius: 0 2px 2px 0;
}
html[dark] #redux-trim-span {
    border: 1px solid var(--redux-spec-10-percent-layer);
    background: none;
}
html[dark] ytd-multi-page-menu-renderer {
    border-top: 1px solid var(--redux-spec-10-percent-layer) !important;
}
ytd-multi-page-menu-renderer {
    border-top: 1px solid var(--redux-spec-10-percent-layer-inverted) !important;
}
.ghost-grid.ytd-ghost-grid-renderer {
    margin: 0 !important;
    flex-wrap: nowrap !important;
}
#ticket-shelf,
#primary-inner #expandable-metadata {
    background-color: var(--redux-spec-base-background) !important;
}
